<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greighamilton.rememo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.greighamilton.rememo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name="com.greighamilton.rememo.AddEntryActivity" />
        <activity
            android:name="com.greighamilton.rememo.reminders.ReminderActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.greighamilton.rememo.ReminderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.greighamilton.rememo.reminders.DisplayNotification" >
            <intent-filter>
                <action android:name="com.greighamilton.rememo.reminders.DisplayNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.greighamilton.rememo.data.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name="com.greighamilton.rememo.DailyActivity"
            android:label="@string/title_activity_daily"
            android:parentActivityName="com.greighamilton.rememo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greighamilton.rememo.MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name="com.greighamilton.rememo.SearchResultsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greighamilton.rememo.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.greighamilton.rememo.EventActivity"
            android:label="@string/title_activity_event" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greighamilton.rememo.DailyActivity" />
        </activity>
    </application>

</manifest>